<?xml version="1.0"?>
<ajaxControlToolkit>

  <controlBundles>


    <!-- works for most pages -->

    <controlBundle>
      <control name="CollapsiblePanelExtender"></control>
      <control name="CalendarExtender"></control>
      <control name="ConfirmButtonExtender"></control>
    </controlBundle>
    
  </controlBundles>
</ajaxControlToolkit>
